<div class="flex h-screen bg-caramel-100 dark:bg-dark-bg text-gray-800 dark:text-gray-200" [class.dark]="false">
  
  <ng-container *ngIf="authService.currentUser()">
    <!-- Sidebar for authenticated users -->
    <app-sidebar class="w-64 flex-shrink-0 hidden md:flex flex-col bg-white dark:bg-dark-card border-r border-gray-200 dark:border-dark-border"></app-sidebar>
  </ng-container>

  <div class="flex-1 flex flex-col overflow-hidden">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Main Content -->
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-caramel-100 dark:bg-dark-bg p-4 md:p-6 lg:p-8">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
